*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #333;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
  background-color: #333;
  color: #fff;
}

button {
  color: #fff;
  cursor: pointer;
  background-color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  margin-right: 10px;
}

button:hover {
  background-color: #666;
}

button:active {
  background-color: #000;
}

#start-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-button,
#goBack,
#clear-scores,
#restart,
#end {
  flex: none;
  margin-right: 15px;
}

#score-list,
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#score-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  display: inline-flex;
  justify-content: center;
  flex: 1 0 auto;
  font-size: 200%;
  margin-left: 10px;
}

h3 {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  font-size: 150%;
  padding: 3%;
}

#choice-list,
h4 {
  font-size: 125%;
  margin-left: 10px;
}

#choice-list {
  padding: 20px;
}

#content-area,
#the-end,
#high-scores {
  display: none;
}

#the-end,
#high-scores,
#content-area,
#container {
  width: 80%;
  margin: 25%;
  padding: 20px;
  border-radius: 5px;
  flex: 1 0 auto;
}

#final-score {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  font-size: 150%;
  margin-left: 10px;
  padding: 3%;
}

#initials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  margin: 0 auto;
}

#current-question {
  padding-bottom: 20px;
}





